header {
  width: 100%;
  height: 400px;
  position: relative;
  background-color: #f0ab22;
  background-image: url("https://www.transparenttextures.com/patterns/black-scales.png");
}

.display {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  margin-top: 20px;
  align-items: center;
  
}

.name {
  justify-content: center;
  display: flex;
  color: white;
  font-size: 35px

}

@media only screen and (min-width: 1024px) {
  header {
    float: left;
    margin-left: 2em;
    margin-top: 10em;
    position: relative;
    display: inline-block;
    width: 30%;
    height: 400px;
    background-color: #f0ab22;
    background-image: url("https://www.transparenttextures.com/patterns/black-scales.png");
  }
}