

.nav-bar {
  background-color: #4056A1;
  height: 120px;
  width: 100%;
  color: #FFFF;
  position: fixed;
  top: 0;
  left: 0;
  font-family: "bungee";
  justify-content: center;
  align-items: center;
  margin-bottom: 200px; 
}

.sticky {
  position: sticky;
  top: 0;
  z-index:1000;

}

.tweeter{
  margin-right: auto;
  position: relative;
  top: .8em;
  left: 1.5em;
  right: 1.5em;
  bottom: 2em;
  font-size: 45px
}

.button {
  /* margin-left: auto; */
  /* position: relative; */
  float: right;
  color: #FFFF;
  font-family: "bungee";
  text-align: center;
  font-size: 20px;
  background-color: transparent;
  margin-top: 2.3em;
  border: transparent;
  margin-right: 1em;
}

@media only screen and (min-width: 1024px) {
  .sticky {
    position: sticky;
    top: 0;
  }
}