nav {
  background-color: #4056A1;
  height: 120px;
  position: stretch;
  width: 100%;
  top: 0;
  color: #FFFF;
  font-family: "bungee";
}

.nav-bar {
  display: flex;
  justify-content: flex-end;
}

.tweeter{
  margin-right: auto;
  position: relative;
  top: .8em;
  left: 1.5em;
  right: 1.5em;
  bottom: 2em;
  font-size: 45px
}

.write-tweet {
  margin-left: auto;
  position: relative;
  top: .1em;
  left: 32em;
  right: 1.5em;
  bottom: 1.8em;
  color: #FFFF;
  font-family: "bungee";
  text-align: center;
  font-size: 20px;
}

/*.write-tweet {

}
*/
