.new-tweet {
  margin: auto;
  width: 80%;
}

.new-tweet h2 {
  margin-left: 45%;
}

.new-tweet textarea {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid black;
  display: block;
  width: 100%;
  font-family: source-sans-pro;
  font-size: 20px;
}
.negative {
  color: red;
}

main section span {
  display: inline-block;
  margin-left: 100%;
  font-family: bungee;
}

main section input {
    background-color: #4056A1;
    font-family: bungee;
    color: white;
    padding: 6px;
    border-radius: 0px;
    border-style: double;
    margin-top: 1%
}

@media only screen and (min-width: 1024px) {
  .new-tweet {
    margin-top: 8em;
    float: right;
    width: 60%;
    display: inline-block;
  }